<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>
<p>Test page!</p>
<script>
    let ls = localStorage;
    {{ js_code }}
</script>
</body>
</html>